/* @media screen and (max-width: 429px) {
  body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* @media screen and (max-width: 429px) {
  .container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
} */

.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

@media screen and (max-width: 429px) {
  .row {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

@media screen and (max-width: 429px) {
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    font-size: 50%;
    margin: 5%;
  }
}

@media screen and (max-width: 429px) {
  h1 {
    width: 100%;
    font-size: 100%;
  }
}



/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

@media screen and (max-width: 429px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right  {
    width: 100%;
    font-size: 50%;
    margin: 5%;
    display: inline-block;
  }
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

@media screen and (max-width: 429px) {
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    font-size: 50%;
    margin: 5%;
  }
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

@media screen and (max-width: 429px) {
  .container.grey {
    width: 100%;
    margin: auto;
  }
}

img {
  height: 100px;
}

.clear {
  clear: both;
}
